<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TTS_SourceFiles</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/LayoutPage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TTS_SourceFiles.styles.css" asp-append-version="true" />
</head>
<body>
    <header><p id="PageID" hidden>@ViewBag.PageID</p></header>
    <section>
    <nav>
        <ul>
            <div id="group-btn-lst">
            <li>
                <form asp-controller="C002" asp-action="Index" method="post">
                    <input type="hidden" name="language" value= @ViewBag.Language>
                    <div class="nav_container">
                        <div class="icon_position">
                            <img src="~/images/home_icon.png" alt="Home Img" id="homeImg">
                        </div>
                        <div>
                            <button type="submit" class="group-btn" id="homeBtn">@Model.M00001_NavigationNames[0].z_lbl_home</a>
                        </div>
                    </div>
                </form>
            </li>
            <li>
                <form asp-controller="C003" asp-action="Index" method="post">
                    <input type="hidden" name="language" value= @ViewBag.Language>
                    <div class="nav_container">
                        <div class="icon_position">
                            <img src="~/images/department_icon.png" alt="Department Img" id="departmentImg">
                        </div>
                        <div>
                            <button type="submit" class="group-btn" id="departmentBtn">@Model.M00001_NavigationNames[0].z_lbl_create_new_department</button>
                        </div>
                    </div>
                </form>
            </li>
            <li>
                <form asp-controller="C004" asp-action="Index" method="post">
                    <input type="hidden" name="language" value= @ViewBag.Language>
                    <div class="nav_container">
                        <div class="icon_position">
                            <img src="~/images/account_icon.png" alt="Account Img" id="accountImg">
                        </div>
                        <div>
                            <button type="submit" class="group-btn" id="accountBtn">@Model.M00001_NavigationNames[0].z_lbl_create_new_account</button>
                        </div>
                    </div>
                </form>
            </li>
            <li>
                <form asp-controller="C005" asp-action="Index" method="post">
                    <input type="hidden" name="language" value= @ViewBag.Language>
                    <div class="nav_container">
                        <div class="icon_position">
                            <img src="~/images/notification_icon.png" alt="Nofitication Img" id="notificationImg">
                        </div>
                        <div>
                            <button type="submit" class="group-btn" id="notificationBtn">@Model.M00001_NavigationNames[0].z_lbl_notification</button>
                        </div>
                    </div>
                </form>
            </li>
            <li>
                <form asp-controller="C006" asp-action="Index" method="post">
                    <input type="hidden" name="language" value= @ViewBag.Language>
                    <div class="nav_container">
                        <div class="icon_position">
                            <img src="~/images/schedule_icon.png" alt="Schedule Img" id="scheduleImg">
                        </div>
                        <div>
                            <button type="submit" class="group-btn" id="schelduleBtn">@Model.M00001_NavigationNames[0].z_lbl_scheldule</button>
                        </div>
                    </div>
                </form>
            </li>
            <li>
                <form asp-controller="C007" asp-action="Index" method="post">
                    <input type="hidden" name="language" value= @ViewBag.Language>
                    <div class="nav_container">
                        <div class="icon_position">
                            <img src="~/images/message_icon.png" alt="Message Img" id="messageImg">
                        </div>
                        <div>
                            <button type="submit" class="group-btn" id="messageBtn">@Model.M00001_NavigationNames[0].z_lbl_message</button>
                        </div>
                    </div>
                </form>
            </li>
            <li>
                <form asp-controller="C008" asp-action="Index" method="post">
                    <input type="hidden" name="language" value= @ViewBag.Language>
                    <div class="nav_container">
                        <div class="icon_position">
                            <img src="~/images/file_management_icon.jpeg" alt="File Management Img" id="fileManagementImg">
                        </div>
                        <div>
                            <button type="submit" class="group-btn" id="fileManagementBtn">@Model.M00001_NavigationNames[0].z_lbl_file_management</button>
                        </div>
                    </div>
                </form>
            </li>
            <li>
                <form asp-controller="C009" asp-action="Index" method="post">
                    <input type="hidden" name="language" value= @ViewBag.Language>
                    <div class="nav_container">
                        <div class="icon_position">
                            <img src="~/images/setting_icon.jpeg" alt="Setting Img" id="settingImg">
                        </div>
                        <div>
                            <button type="submit" class="group-btn" id="settingBtn">@Model.M00001_NavigationNames[0].z_lbl_account_setting</button>
                        </div>
                    </div>
                </form>
            </li>
            <li>
                <form asp-controller="C010" asp-action="Logout" method="get">
                    <input type="hidden" name="language" value= @ViewBag.Language>
                    <div class="nav_container">
                        <div class="icon_position">
                            <img src="~/images/logout_icon.jpeg" alt="Logout Img" id="logoutImg">
                        </div>
                        <div>
                            <button type="submit" class="group-btn">@Model.M00001_NavigationNames[0].z_lbl_logout</button>
                        </div>
                    </div>
                </form>
            </li>
            </div>
        </ul>
    </nav>
    <article>
            @RenderBody()
    </article>
    </section>
    <footer>
        <div>
            &copy; 2023 - TTS (Technical Training System)
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/layoutpage.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>