<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/V00101_LoginPage.css" />
</head>
<body>
<header></header>
<section>
  <article>
  <form asp-controller="C001" asp-action="LoginRequest" method="post">
    <div class="imgcontainer">
      <h3>@Model.M00102_SetLoginPageLanguages[0].z_lbl_system_name</h3>
    </div>
    @if (@ViewBag.Error_Message_V001_001 != null)
    {
      <div class="errMess">
        <span class="closeMess" onclick="this.parentElement.style.display='none';">&times;</span> 
        @ViewBag.Error_Message_V001_001
      </div>
    }
    @if (@ViewBag.Error_Message_V001_002 != null)
    {
      <div class="errMess">
        <span class="closeMess" onclick="this.parentElement.style.display='none';">&times;</span> 
        @ViewBag.Error_Message_V001_002
      </div>
    }
    <input type="hidden" name="select_language" id="select_language" value= @ViewBag.Set_Language>
    <div class="container">
      <label for="uname"><b>@Model.M00102_SetLoginPageLanguages[0].z_lbl_account_email</b></label>
      @if(@ViewData["uname"] != null) {
        <input type="text" value= @ViewData["uname"] name="uname" required>
      } else {
       <input type="text" placeholder="@Model.M00102_SetLoginPageLanguages[0].z_lbl_input_account_email" name="uname" required>
      }

      <label for="psw"><b>@Model.M00102_SetLoginPageLanguages[0].z_lbl_account_password</b></label>
      <input type="password" placeholder="@Model.M00102_SetLoginPageLanguages[0].z_lbl_input_account_password" name="psw" required>

      <button type="submit">@Model.M00102_SetLoginPageLanguages[0].z_lbl_login_button</button>
      <label>
        <input type="checkbox" checked="checked" name="remember">@Model.M00102_SetLoginPageLanguages[0].z_lbl_infor
      </label>
    </div>
  </form>
  <form asp-controller="C001" asp-action="Index" method="post">
    <div class="container" style="background-color:#f1f1f1">
      @if(@ViewBag.Set_Language == "ja") {
        <select name="select_language" id="select_language" style="width: 100px; height: 30px">
          <option value="ja" onclick= "form.submit()" selected>日本語</option>
          <option value="en" onclick= "form.submit()">English</option>
        </select>
      } else {
          <select name="select_language" id="select_language" style="width: 100px; height: 30px">
          <option value="ja" onclick= "form.submit()">日本語</option>
          <option value="en" onclick= "form.submit()" selected>English</option>
        </select>
      }
      <label for="cars">@Model.M00102_SetLoginPageLanguages[0].z_lbl_infor_select_language</label>
    </div>
  </form>
  </article>
</section>
</body>
</html>
