@{
    Layout = "_LayoutPage";
}
<link rel="stylesheet" href="~/css/V00402_CreateAccountPage.css" asp-append-version="true" />
<script src="~/js/V00402.js" asp-append-version="true"></script>
<form asp-controller="C004" asp-action="CreateAccount" method="post" style="max-width:500px; padding-left: 10px">
  <input type="hidden" name="LANGUAGE_SETTINGS" value= @ViewData["LANGUAGE_SETTINGS"]>
  <input type="hidden" name="CURRENT_USER" value= @Model.CURRENT_USER>
  <h2>ユーザーを新規追加</h2>
  @if(ViewBag.Error_Message_V00402_01 != null) {
    <div class="errMess">
      <span class="closeMess" onclick="this.parentElement.style.display='none';">&times;</span> 
      @ViewBag.Error_Message_V00402_01
    </div>
  }
  @if(ViewBag.Error_Message_V00402_02 != null) {
      <div class="errMess">
        <span class="closeMess" onclick="this.parentElement.style.display='none';">&times;</span> 
        @ViewBag.Error_Message_V00402_02
      </div>
  }
  @if(ViewBag.Error_Message_V004_03 != null) {
      <div class="errMess">
        <span class="closeMess" onclick="this.parentElement.style.display='none';">&times;</span> 
        @ViewBag.Error_Message_V004_03
      </div>
  }
  <div class="input-container">
    <i class="fa fa-user icon"></i>
    @if(ViewData["uname"] != null) {
      <input class="input-field" type="text" value= @ViewData["uname"] name="uname">
    } else {
      <input class="input-field" type="text" placeholder="ユーザー名を入力してください。" name="uname">
    }
  </div>
    
  <div class="input-container">
    <i class="fa fa-key icon"></i>
    @if(ViewData["psw"] != null) {
      <th><input class="input-field" type="password" value= @ViewData["psw"] name="psw"></th>
    } else {
      <th><input class="input-field" type="password" placeholder="パスワードを入力してください。" name="psw"></th>
    }
  </div>
    
  <div class="input-container">
    <i class="fa fa-key icon"></i>
    <select name="cars" id="cars" style="width: 500px">
    <option value="volvo">Manager</option>
    <option value="saab">Leader</option>
    <option value="opel">Member</option>
    </select>
  </div>
    
  <div class="input-container">
    <i class="fa fa-key icon"></i>
    <label for="email" style="padding: 5px"><b>アクティブ</b></label>
      @if(ViewData["checkbox"] != null) {
        <input type="checkbox" name="checkbox" style="padding: 5px" checked>
      } else {
        <input type="checkbox" name="checkbox" style="padding: 5px">
      }
  </div>

  <div class="clearfix">
    <button type="submit" class="signupbtn">Register</button>
    <button type="button" class="cancelbtn">Cancel</button>
  </div>
</form>