@{
    Layout = "_LayoutPage";
}
<link rel="stylesheet" href="~/css/V00401_UserPage.css" asp-append-version="true" />
<script src="~/js/V00401.js" asp-append-version="true"></script>
<div>
<p id="LANGUAGE_SETTINGS" hidden>@ViewData["LANGUAGE_SETTINGS"]</p>
<p id="CURRENT_USER" hidden>@Model.CURRENT_USER</p>
<p id="MESSAGE_DELETE_USER" hidden>@Model.M00401_LabelTables[0].z_message_delete_user</p>
<form asp-controller="C004" asp-action="CreateUserForm" method="post">
    <input type="hidden" name="LANGUAGE_SETTINGS" value= @ViewData["LANGUAGE_SETTINGS"]>
    <input type="hidden" name="CURRENT_USER" value= @Model.CURRENT_USER>
    <button type="submit" class="btnUser btnV004_CreateUser">@Model.M00401_LabelTables[0].z_btn_create_user</a>
</form>
</div>
<div>
@if(@ViewBag.Sucess_Message_V00401_01 != null) {
  <div class="sucessMess">
    <span class="closeMess" onclick="this.parentElement.style.display='none';">&times;</span> 
    @ViewBag.Sucess_Message_V00401_01
  </div>
}

@* Add User Failed *@
@if(@ViewBag.Error_Message_V00401_01 != null) {
  <div class="errMess">
    <span class="closeMess" onclick="this.parentElement.style.display='none';">&times;</span> 
    @ViewBag.Error_Message_V00401_01
  </div>
}

@* Delete User Success *@
@if(@ViewBag.Sucess_Message_V00401_02 != null) {
  <div class="sucessMess">
    <span class="closeMess" onclick="this.parentElement.style.display='none';">&times;</span> 
    @ViewBag.Sucess_Message_V00401_02
  </div>
}

@* Delete User Failed *@
@if(@ViewBag.Error_Message_V00401_02 != null) {
  <div class="errMess">
    <span class="closeMess" onclick="this.parentElement.style.display='none';">&times;</span> 
    @ViewBag.Error_Message_V00401_02
  </div>
}
<table>
  <tr>
    <th>@Model.M00401_LabelTables[0].z_lbl_user_id</th>
    <th>@Model.M00401_LabelTables[0].z_lbl_user_name</th>
    <th>@Model.M00401_LabelTables[0].z_lbl_user_password</th>
    <th>@Model.M00401_LabelTables[0].z_lbl_user_role</th>
    <th>@Model.M00401_LabelTables[0].z_lbl_is_active</th>
    <th>@Model.M00401_LabelTables[0].z_lbl_create_date</th>
    <th>@Model.M00401_LabelTables[0].z_lbl_update_date</th>
    <th>@Model.M00401_LabelTables[0].z_lbl_create_by_user</th>
    <th>@Model.M00401_LabelTables[0].z_lbl_update_by_user</th>
    <th></th>
  </tr>
  @if (@Model.M00402_GetAllUsers.Count > 0)
  {
    @for (int i = 0; i < @Model.M00402_GetAllUsers.Count; i++) 
    {
      <tr>
        <td>@Model.M00402_GetAllUsers[i].z_user_id</td>
        <td><a href="#" onclick="return OpenUserModal();">@Model.M00402_GetAllUsers[i].z_user_email</a></td>
        <td>@Model.M00402_GetAllUsers[i].z_user_password</td>
        <td>@Model.M00402_GetAllUsers[i].z_user_role</td>
        <td>
          @if(@Model.M00402_GetAllUsers[i].z_is_active)
          {
            <input type="checkbox" checked disabled> 
          } else {
            <input type="checkbox" disabled> 
          }
        </td>
        <td>
          @string.Format("{0}/{1}/{2}",
          @Model.M00402_GetAllUsers[i].z_create_date.Year,
          @Model.M00402_GetAllUsers[i].z_create_date.Month.ToString().PadLeft(2, '0'),
          @Model.M00402_GetAllUsers[i].z_create_date.Day)
        </td>
        <td>
          @string.Format("{0}/{1}/{2}",
          @Model.M00402_GetAllUsers[i].z_update_date.Year,
          @Model.M00402_GetAllUsers[i].z_update_date.Month.ToString().PadLeft(2, '0'),
          @Model.M00402_GetAllUsers[i].z_update_date.Day)
        </td>
        <td>@Model.M00402_GetAllUsers[i].z_create_by_user</td>
        <td>@Model.M00402_GetAllUsers[i].z_update_by_user</td>
        <td>
          @if(@Model.M00402_GetAllUsers[i].z_user_id != 1)
          {
            <button onclick="DeleteUser(@Model.M00402_GetAllUsers[i].z_user_id)">Delete Account</button>
          }
        </td>
      </tr>
    }
  }
</table>
</div>

<div id="modalUser" class="modal">
  <div class="modal-content">
    <div>
      <label style="float: left; padding-right: 705px; padding-bottom: 20px"><b>通知を新規追加フォーム</label>
      <button class="close" onclick="CloseUserModal()">&times;</button>
    </div>
    <div>
      <label>通知を新規追加フォーム</label>
    </div>
  </div>
</div>
