@{
    Layout = "_LayoutPage";
}
<link rel="stylesheet" href="~/css/V00402_CreateUserPage.css" asp-append-version="true" />
<script src="~/js/V00402.js" asp-append-version="true"></script>
<p id="LANGUAGE_SETTINGS" hidden>@ViewData["LANGUAGE_SETTINGS"]</p>
<p id="CURRENT_USER" hidden>@Model.CURRENT_USER</p>
<p id="MESSAGE_ADD_COMFIRM" hidden>@Model.M00403_LabelCreateUserForms[0].z_message_add_confirm</p>
<form style="max-width:500px; padding-left: 10px">
  <input type="hidden" name="LANGUAGE_SETTINGS" value= @ViewData["LANGUAGE_SETTINGS"]>
  <input type="hidden" name="CURRENT_USER" value= @Model.CURRENT_USER>
  <h2>@Model.M00403_LabelCreateUserForms[0].z_lbl_create_user_form</h2>
  <div style="padding-bottom: 5px;">
    <p id="error-message" name="error-message"></p>
    @if(ViewBag.Error_Message_V00402_03 != null) {
      <div class="errMess">
        <span class="closeMess" onclick="this.parentElement.style.display='none';">&times;</span> 
        @ViewBag.Error_Message_V00402_03
      </div>
    }
  </div>
  <div class="input-container">
    <i class="fa fa-user icon"></i>
    <input class="input-field" type="text" id="uname" name="uname" placeholder="@Model.M00403_LabelCreateUserForms[0].z_lbl_request_user_name">
  </div>
    
  <div class="input-container">
    <i class="fa fa-key icon"></i>
    <input class="input-field" type="password" id="psw" name="psw" placeholder="@Model.M00403_LabelCreateUserForms[0].z_lbl_request_user_password">
  </div>
    
  <div class="input-container">
    <i class="fa fa-key icon"></i>
    <select name="user_role" id="user_role" style="width: 500px">
    <option value="manager">Manager</option>
    <option value="leader">Leader</option>
    <option value="member">Member</option>
    </select>
  </div>
    
  <div class="input-container">
    <i class="fa fa-key icon"></i>
    <label for="email" style="padding: 5px"><b>@Model.M00403_LabelCreateUserForms[0].z_lbl_is_active</b></label>
      @if(ViewData["checkbox"] != null) {
        <input type="checkbox" id="isActive" name="checkbox" style="padding: 5px" checked>
      } else {
        <input type="checkbox" id="isActive" name="checkbox" style="padding: 5px">
      }
  </div>

  <div class="clearfix">
    <button type="button" class="signupbtn" onclick="CreateUser()">@Model.M00403_LabelCreateUserForms[0].z_lbl_button_create</button>
    <button type="button" class="cancelbtn" onclick="ReturnUserPage()">@Model.M00403_LabelCreateUserForms[0].z_lbl_button_cancel</button>
  </div>
</form>